body{
    background-color: #00002E;
    color: #CA8CF7;
}
table{
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 1.5rem;
}
td{
    border-bottom: 2px solid #CA8CF7;
    padding: 8px 0 8px 0;
}
.result{
    font-size: 32px;
    border-bottom: 2px solid #CA8CF7;
    text-transform:capitalize;
}
